* {
    padding: 0;
    margin: 0;
}

/*css that belongs to header*/

header {
    text-align: right;
    position: absolute;
    width: 100%;
    height: 10vh;
}

body > header > div {
    position: absolute;
    width: 40%;
    top: 2.5vh;
    right: 2vw;
}

body > header > div > nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}


body > header > div > nav > ul li {
    list-style: none;
}

body > header > div > nav > ul li a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: large;
    color: aliceblue;
}


body > main > section:nth-child(1) {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/Cyber.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(1) > p {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(215, 215, 215);
}

body > main > section:nth-child(1) > div:nth-child(2) {
    height: 900px;
    width: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    /*border: 2px solid greenyellow;*/
    /*background-image: url("../images/Main.png");*/
    /*background-size: contain;*/
}

body > main > section:nth-child(1) > div:nth-child(2) > div {
    position: absolute;
    margin: auto;
    top: 7%;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: url("../images/1641522145884.jpg");
    background-size: contain;
    border-radius: 20px;
    /*border: 2px solid red;*/
}

#anim {
    /*border: 2px solid greenyellow;*/
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

body > main > section:nth-child(1) > div > p {
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 1.5em;
    width: 300px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;

}

body > main > section:nth-child(1) > section:nth-child(3) { /*all animated elements are here*/
    position: absolute;
    width: 80%;
    height: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*border: 1px solid greenyellow;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(1) {
    position: absolute;
    width: 997px;
    height: 300px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(2) {
    position: absolute;
    width: 788px;
    height: 100px;
    top: 100px;
    right: 0;
    left: 0;

    margin: auto;
    /*border: 1px solid red;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(3) {
    position: absolute;
    width: 788px;
    height: 75px;
    top: 225px;
    right: 0;
    left: 0;
    margin: auto;
    /*border: 1px solid red;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(4) {
    position: absolute;
    width: 788px;
    height: 75px;
    top: 325px;
    right: 0;
    left: 0;
    margin: auto;
    /*border: 1px solid red;*/
}

#section1_anima_1-0 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;

    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 4em;
    animation-name: anim1_0;
    animation-duration: 3.5s;
    animation-delay: .5S;
    animation-iteration-count: 1;
}

#section1_anima_1-1 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;

    top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 2em;
    animation-name: anim1_1;
    animation-delay: 3.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#section1_anima_1-2 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    top: 0;

    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 4.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-3 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 4.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-4 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 5.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-5 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 5.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-6 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;

    top: 0;

    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 6.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-7 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: 1000px;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 6.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes anim1_0 {
    0% {
        transform: scale(.4);
        opacity: 25%;
    }
    20% {
        transform: scale(1);
        opacity: 100%;
    }
    90% {
        transform: scale(1);
        opacity: 100%;
        /*left: 10%;*/
        bottom: 0;
    }
    100% {
        opacity: 0;
        /*left: -10%;*/
        bottom: 150px;
    }

}

@keyframes anim1_1 {
    from {
        opacity: 0;
        top: 150px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes anim1_2 {
    from {
        opacity: 0;
        left: -50px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes anim1_3 {
    from {
        opacity: 0;
        left: 75px;
    }
    to {
        opacity: 1;
        left: 25px;
    }
}


/*main section 2*/

body > main > section:nth-child(4) {
    position: relative;
    height: 100vh;
    background-color: rgba(8, 26, 51, 1);
}

body > main > section:nth-child(4) > section:nth-child(1) > div {
    border: 1px solid rgba(12, 76, 146, .5);
    border-radius: 8px;
    position: absolute;
    height: 90%;
    width: 15%;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    mso-border-shadow: yes;
    background-color: rgba(7, 0, 7, .09);
}

body > main > section:nth-child(4) > section:nth-child(1) > div > p:nth-child(1) {
    position: absolute;
    top: 1%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    /*font-weight: bold;*/
    color: rgb(215, 215, 215);
    text-align: center;
}

body > main > section:nth-child(4) > section > div div {
    width: 90%;
    height: 30%;
    position: relative;
    /*   left: 0;
       right: 0;*/
    top: 7%;
    margin: auto;
    background-image: url("../images/Profile 2.png");
    background-size: cover;
    background-position: center;
}

/*

body > main > section:nth-child(2) > section:nth-child(1) > div  p:nth-child(3){
    position: relative;
    top:8%;
    !*right: 0;
    left: 0;*!
   !* margin: auto;*!
    font-size: 1em;
    letter-spacing: 4px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(215, 215, 215);
    text-align: center;
}*/


/*RESPONSIVE MEDIA QUERIES*/
@media all and (max-width: 1600px)/*and (min-width: 1024px)*/ {
    body > main > section:nth-child(1) > div:nth-child(2) > div {
        top: 15%;
        width: 200px;
        height: 200px;
    }

    body > main > section:nth-child(1) > div:nth-child(2) {
        width: 400px;
    }

    body > main > section:nth-child(1) > div > p {
        top: 40%;
    }

}