* {
    padding: 0;
    margin: 0;
}

/*css that belongs to header*/

header {
    text-align: right;
    position: absolute;
    width: 100%;
    height: 10vh;
}

body > header > div {
    position: absolute;
    width: 40%;
    top: 2.5vh;
    right: 2vw;
}

body > header > div > nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}


body > header > div > nav > ul li {
    list-style: none;
}

body > header > div > nav > ul li a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: large;
    color: aliceblue;
}


body > main > section:nth-child(1) {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/Cyber.png");
    background-size: cover;
    background-position: center;
}

/*body > main > section:nth-child(1) > p {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(215, 215, 215);
}*/


body > main > section:nth-child(1) > div:nth-child(2) {
    height: 900px;
    width: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    /*border: 2px solid greenyellow;*/
    /*background-image: url("../images/Main.png");*/
    /*background-size: contain;*/
}

body > main > section:nth-child(1) > div:nth-child(2) > div {
    position: absolute;
    margin: auto;
    top: 7%;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: url("../images/1641522145884.jpg");
    background-size: contain;
    border-radius: 20px;
    /*border: 2px solid red;*/
}

#anim {
    /*border: 2px solid greenyellow;*/
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

body > main > section:nth-child(1) > div > p:nth-child(2) {
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 1.5em;
    width: 300px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;

}

body > main > section:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 1em;
    width: 250px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 45%;
    left: 0;
    right: 0;
    line-height: .8cm;
    text-align: left;
}

body > main > section:nth-child(1) > section:nth-child(3) { /*all animated elements are here*/
    position: absolute;
    width: 80%;
    height: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*border: 1px solid greenyellow;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(1) {
    position: absolute;
    width: 997px;
    height: 300px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(2) {
    position: absolute;
    width: 788px;
    height: 100px;
    top: 100px;
    right: 0;
    left: 0;

    margin: auto;
    /*border: 1px solid red;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(3) {
    position: absolute;
    width: 788px;
    height: 75px;
    top: 225px;
    right: 0;
    left: 0;
    margin: auto;
    /*border: 1px solid red;*/
}

body > main > section:nth-child(1) > section:nth-child(3) > div:nth-child(4) {
    position: absolute;
    width: 788px;
    height: 75px;
    top: 325px;
    right: 0;
    left: 0;
    margin: auto;
    /*border: 1px solid red;*/
}

#section1_anima_1-0 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;

    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 4em;
    /*animation:  anim1_0 .5s 1 forwards, anim1_0_1 .5s forwards;*/
    -webkit-animation-name: anim1_0, anim1_0_1;
    -webkit-animation-duration: .5s, .5s;
    -webkit-animation-delay: .5s, 3s;
    -webkit-animation-fill-mode: forwards, forwards;


}

#section1_anima_1-1 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;
    top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 2em;
    animation-name: anim1_1;
    animation-delay: 3S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#section1_anima_1-2 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 4.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-3 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 4.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-4 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 5.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-5 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 5.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-6 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;

    top: 0;

    font-family: 'Titillium Web', sans-serif;
    color: rgba(8, 124, 250, .8);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 4px;
    animation-name: anim1_2;
    animation-delay: 6.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#section1_anima_1-7 {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    left: 20px;
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(200, 210, 220, .9);
    font-size: 1.2em;
    animation-name: anim1_3;
    animation-delay: 6.5S;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes anim1_0 {
    0% {
        transform: scale(.8);
        opacity: 25%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
    /* 90% {
         transform: scale(1);
         opacity: 100%;
         !*left: 10%;*!
         bottom: 0;
     }
     100% {
         opacity: 0;
         !*left: -10%;*!
         bottom: 150px;
     }*/

}

@keyframes anim1_0_1 {
    from {
        opacity: 100%;
        bottom: 0;
    }
    to {
        opacity: 0;
        bottom: 150px;
    }
}

@keyframes anim1_1 {
    from {
        opacity: 0;
        top: 150px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes anim1_2 {
    from {
        opacity: 0;
        left: -50px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes anim1_3 {
    from {
        opacity: 0;
        left: 75px;
    }
    to {
        opacity: 1;
        left: 25px;
    }
}


/*main section 2*/

body > main > section:nth-child(2) {
    position: relative;
    height: 100vh;
    background-color: rgba(8, 26, 51, 1);
}

body > main > section:nth-child(2) > p:nth-child(1) {
    position: relative;
    left: 5%;
    width: fit-content;
    height: fit-content;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgba(69, 162, 172, 1);
}

body > main > section:nth-child(2) > article {
    /*border: 1px solid greenyellow;*/
    position: absolute;
    margin: auto;
    bottom: 100px;
    right: 0;
    left: 0;
    width: 80%;
    height: 150px;
}

body > main > section:nth-child(2) > article > p {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    color: aliceblue;
}

body > main > section:nth-child(2) >section:nth-child(3){
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    left: 0;
    /*border: 2px solid greenyellow;*/
    width: 50%;
    height: 60%;
}
    /*primary & secondary education*/
body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(1) {
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    /*right: 80px;*/
    background-color: rgba(32, 33, 36, .3);
    border: 2px solid rgba(78, 80, 82, .9);
    border-radius: 10px;
    width: 300px;
    height: 75px;
}

body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(1) > p:nth-child(2),
body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: rgba(240, 248, 255, .8);
    letter-spacing: 3px;
    font-family: 'Shadows Into Light', cursive;
}

body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(1) > p:nth-child(1),
body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(2) > p:nth-child(1){
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: -30px;
    left: 0;
    right: 0;
    font-size: 1em;
    color: rgba(8, 124, 250, 1);
    letter-spacing: 2px;
    font-family: 'Titillium Web', sans-serif;
}

/*higher education*/
body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(2) {
    position: absolute;
    margin: auto;
    top: 200px;
    left: 300px;
    /*right: 80px;*/
    background-color: rgba(32, 33, 36, .3);
    border: 2px solid rgba(78, 80, 82, .9);
    border-radius: 10px;
    width: 200px;
    height: 75px;
}

body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(3){
    position: relative;
    top:75px;
    left: 50px;
    width: 300px;
    height: 200px;
    background-image: url("../images/arrow1.png");
    background-size: contain;
}
body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(4){
    position: relative;
    top:25px;
    left: 350px;
    width: 300px;
    height: 200px;
    background-image: url("../images/arrow1.png");
    background-size: contain;
}
body > main > section:nth-child(2) > section:nth-child(3) >button:nth-child(5){
    position: absolute;
    height: 40px;
    width: 115px;
    border-radius: 10px 5px 10px 5px;
    border:4px solid rgba(71, 40, 60,1);
    background-colorcolor: rgba(71, 40, 60,1);
    cursor: pointer;
    right: 0;
    bottom: 0;
}
body > main > section:nth-child(2) > section:nth-child(3) >button:nth-child(6){
    position: absolute;
    height: 40px;
    width:115px;
    border-radius: 10px 5px 10px 5px;
    border:4px solid rgba(71, 40, 60,1);
    background-colorcolor: rgba(71, 40, 60,1);
    cursor: pointer;
    right: 135px;
    bottom: 0;
}
/*(2006 - 2018)*/
body > main > section:nth-child(2) > section:nth-child(3)>p:nth-child(7){
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 200px;
    left:125px;
    font-size: 1em;
    font-weight: bold;
    color: rgba(240, 248, 255, .6);
    letter-spacing: 2px;
    font-family: 'Titillium Web', sans-serif;
}
/*body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: rgba(240, 248, 255, .8);
    letter-spacing: 3px;
    font-family: 'Shadows Into Light', cursive;
}

body > main > section:nth-child(2) > section:nth-child(3) > div:nth-child(2) > p:nth-child(1) {
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: -30px;
    left: 0;
    right: 0;
    font-size: 1em;
    color: rgba(8, 124, 250, 1);
    letter-spacing: 2px;
    font-family: 'Titillium Web', sans-serif;
}*/

/*RESPONSIVE MEDIA QUERIES*/
@media all and (max-width: 1600px)/*and (min-width: 1024px)*/ {
    body > main > section:nth-child(1) > div:nth-child(2) > div {
        top: 15%;
        width: 200px;
        height: 200px;
    }

    body > main > section:nth-child(1) > div:nth-child(2) {
        width: 400px;
    }

    body > main > section:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
        top: 38%;
    }

    body > main > section:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
        top: 50%;
    }

}